body {
    font-family: Arial, sans-serif;
    background-color: #153448;
    margin: 0;
    padding: 0;
}

h2 {
    color: #DFD0B8;
    text-align: center;
}

p {
    color: #DFD0B8;
    text-align: center;
}

.InputFahrenheit, .OutputCelcius, .Caracara {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #3C5B6F;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #DFD0B8;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #948979;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.Button {
    text-align: center;
}

.btn1, .btn2, .btn3 {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3C5B6F;
    color: #DFD0B8;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn1:hover, .btn2:hover, .btn3:hover {
    background-color: #4d687b;
}

.Caracara label {
    font-weight: bold;
    color: #DFD0B8;
}



